# Python 缓存
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/
.venv/
.env/

# 编辑器/系统文件
.idea/
.vscode/
.DS_Store

# 个人文件
notes.md
Cliff_GridWorld/checkpoints/
Cliff_GridWorld/output/
Atari-Pong/logs/
Atari-Pong/outputs/
Atari-Pong/checkpoints/